build/
*.md
.dockerignore
.DS_Store
.env
.git
.gitattributes
.gitignore
.gitlab-ci.yml
.gitlab-ci.template.yml
.idea
.travis.yml
.rnd
_ide_helper*.php
.phpstorm.meta.php
.vscode
docker-compose*
Makefile
